.iframe-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: var(--card-radius);
  border: none;

  &--cover {
    border: 6px solid var(--black);
    box-shadow: 6px 6px 0 0 var(--black);
  }
}

p {
  + .iframe-wrapper {
    margin-top: 32px;
  }
}