.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100svh;
  padding-top: 100px;

  @media screen and (max-width: 1440px) {
    padding-top: 90px;
  }

  @media screen and (max-width: 991px) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
    min-height: 100svh;
    height: fit-content;
    padding: 100px 20px !important;
  }
}