@use 'fonts';
@use "variables";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fonts.$lexend;
  color: var(--black);

  &::selection {
    background: var(--red);
  }
}

html {
  scroll-behavior: smooth;

  body {
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='17' viewBox='0 0 34 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_141_361)'%3E%3Cpath d='M0.5 1C0.776142 1 1 0.776142 1 0.5C1 0.223858 0.776142 0 0.5 0C0.223858 0 0 0.223858 0 0.5C0 0.776142 0.223858 1 0.5 1Z' fill='%234E4E4B'/%3E%3Cpath d='M17.5 1C17.7761 1 18 0.776142 18 0.5C18 0.223858 17.7761 0 17.5 0C17.2239 0 17 0.223858 17 0.5C17 0.776142 17.2239 1 17.5 1Z' fill='%234E4E4B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_141_361'%3E%3Crect width='34' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    min-height: 100vh;

    video,
    img,
    svg,
    object {
      max-width: 100%;
      height: auto;
      vertical-align: middle;

      &::selection {
        background: none;
      }
    }

    li {
      list-style: none;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    h1 {
      @include mixins.font-type('big hero title');
    }

    .hidden-title {
      font-size: fonts.$hidden;
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 300px;
    }

    section:not(.skills),
    .skills-list {
      margin: auto;
      max-width: 1480px;

      @media screen and (max-width: 1699px) {
        max-width: 1350px;
      }

      @media screen and (max-width: 1399px) {
        max-width: 1128px;
      }

      @media screen and (max-width: 1199px) {
        max-width: 960px;
      }

      @media screen and (max-width: 991px) {
        max-width: initial;
        padding: 0 30px;
      }
    }
  }
}