.realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: fit-content !important;

  @media screen and (max-width: 991px) {
    width: 100% !important;
  }
}