.about {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: auto;
  max-width: 1480px;
  width: 100%;
  padding: 180px 20px 100px;

  @media screen and (max-width: 1699px) {
    max-width: 1350px;
  }

  @media screen and (max-width: 1399px) {
    max-width: 1128px;
  }

  @media screen and (max-width: 1199px) {
    max-width: 960px;
  }

  @media screen and (max-width: 991px) {
    padding: 150px 20px;
  }

  @media screen and (max-width: 767px) {
    gap: 60px;
  }

  .cta {
    margin: auto;
  }
}