.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: opacity 0.7s linear;

  @media screen and (max-width: 991px) {
    width: initial;
  }

  &.not-loaded {
    opacity: 0;

    .hero__left {
      &__texts {
        h1,
        .input {
          transform: translateX(-100%);
        }
      }

      &__button {
        opacity: 0;
      }
    }

    .hero__right {
      transform: scale(0);
    }
  }

  &__left {
    width: 575px;
    margin-left: calc((100% - 1440px) / 2);

    @media screen and (max-width: 1699px) {
      margin-left: calc((100% - 1280px) / 2);
    }

    @media screen and (max-width: 1399px) {
      margin-left: calc((100% - 1170px) / 2);
    }

    @media screen and (max-width: 1199px) {
      margin-left: calc((100% - 960px) / 2);
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      margin-left: initial;
      text-align: center;
    }

    &__texts {
      overflow: hidden;
      padding-top: 1.61vh;

      @media screen and (max-width: 991px) {
        overflow: initial;
      }

      h1 {
        transition: transform 0.7s ease;
      }
    }

    &__button {
      display: inline-block;
      transition: opacity 0.7s ease 0.4s;
    }
  }

  &__right {
    margin-right: calc((100% - 1440px) / 2);
    transition: transform 0.7s ease;

    @media screen and (max-width: 1699px) {
      margin-right: calc((100% - 1280px) / 2);
    }

    @media screen and (max-width: 1399px) {
      margin-right: calc((100% - 1170px) / 2);
    }

    @media screen and (max-width: 1199px) {
      margin-right: calc((100% - 960px) / 2);
    }

    @media screen and (max-width: 991px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 30%;
      margin-right: initial;
    }
  }
}