@use "../../../partials/functions";
@use "../../../partials/mixins";

.projects-list {
  position: relative;
  width: 980px;
  height: 558px;

  @media screen and (max-width: 991px) {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .project {
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    display: flex;
    background-color: var(--white);
    border-radius: 40px;
    border: var(--card-border);
    box-shadow: var(--wooden-shadow);
    cursor: grab;
    overflow: hidden;
    pointer-events: none;

    @media screen and (max-width: 991px) {
      width: 100%;
      border-radius: 20px;
    }

    &:first-child {
      pointer-events: initial;
    }

    &.project--passed-smashed {
      + .project:not(.project--passed-smashed) {
        pointer-events: initial;
      }
    }

    &--passed-smashed {
      opacity: 0;
      pointer-events: none !important;
    }

    &--passed {
      transform: translateX(-25%) rotate(-3.75deg) !important;
      transform-origin: left bottom;
    }

    &--smashed {
      transform: translateX(25%) rotate(3.75deg) !important;
      transform-origin: right bottom;
    }

    &__container {
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
      padding: 20px;

      @media screen and (max-width: 991px) {
        padding: 10px;
      }
    }

    &__reveal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }

    &__pass,
    &__smash {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      p {
        @include mixins.font-type("title");
        text-transform: uppercase;
        color: var(--white) !important;
        width: fit-content;
        height: fit-content;
        padding: 10px 15px;
        border-radius: 20px;
        border: 8px solid var(--white);

        @media screen and (max-width: 991px) {
          padding: 8px 13px;
          border-radius: 15px;
          border: 6px solid var(--white);
        }
      }
    }

    &__pass {
      background-color: var(--red);
    }

    &__smash {
      background-color: var(--green);
    }

    &__image {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (max-width: 991px) {
        border-radius: 10px;
      }
    }
  }
}
